/** @format */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: large;
  font-family: "Rubik", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
}
#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#header {
  position:relative;
  text-align: center
}
#header h2 {
  position: absolute;
  top: -11rem;
  left: -1rem;
  width: 16rem;
  font-size: 2rem;
  background: linear-gradient(90deg,#5001fb,#8e0af3);
  color: whitesmoke;
  padding: 11px;
  border-radius: 3rem;
}
#header p{
  
  position: relative;
  top: -5rem;
  left: -2rem;
  letter-spacing: 0.2px;
  padding-top: 2px;
  font-weight: 900;

}

#input_container input {
  width: 15rem;
  height: 32px;
  border-radius: 17px;
  padding-left: 10px;
  margin-bottom: 10px;
}

#input_container button {
  background: linear-gradient(90deg,#5001fb,#8e0af3);
  padding: 5px 17px;
  border-radius: 10px;
  color: white;
  border: none;
}
#para i {
  float: right;
}

#para p {
  margin-top: 10px;
  width: 15rem;
  text-align: center;
  padding: 5px 5px;
  border: 4px solid rgb(31, 226, 31);
  border-radius: 5px;
  font-size: large;
  overflow: hidden !important;
}

.text_line {
  text-decoration: line-through;
  border-color: rgb(247, 22, 22) !important;
}
